QWidget {
    background-color: #d8e4f0;
    color: #0f233d;
}

QLabel#TitleLabel {
    color: #1c364d;
}

QPushButton#ExitButton {
    background-color: #bec7d1;
}

QPushButton {
    background-color: #597a99;
    color: #e1e2e3;
}

QPushButton:hover {
    background-color: #3f5975;
}

QSlider::groove:horizontal {
    background-color: #c2cad1;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    background-color: #7ea1c2;
    width: 10px;
    border-radius: 5px;
}
